<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn from the Pros</h1>
    <br />
    <h2>Many Paths to Choose From</h2>
    <br />
    <%= link_to "Learn More", courses_path, class: "btn btn-success" %>
    <br /><br />
  </div>
</div>

<br />

<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Feature 1</h3>
    <br />
    <p class="text-justify">
      Lorem ipsum dolor sit amet, tota reprimique cu nam. Paulo omnium pertinacia mei ei, decore appareat detraxit eam ex. Duo ullum vitae in. No habeo abhorreant vix, at veri aliquip usu. Mea ut alii adversarium, vis etiam erant ei. Antiopam torquatos mel id, quo at aliquam noluisse constituam. Ius enim nemore consulatu te, sit tamquam omnesque singulis in.

      Tantas doctus luptatum ea usu, duo utinam prompta denique et. Hinc scaevola ut sed. Ea vel justo suavitate, pro elitr aperiam oporteat in. Augue partem eu ius, dicant qualisque nam ne. Sea dicam quaeque detraxit ea, partem quaestio accusamus ius ea. Cu nemore vulputate usu, munere euripidis ad per, an officiis suavitate qualisque his. Ignota civibus instructior et mei.
    </p>
  </div>
  <div class="col-sm-4">
    <h3>Feature 2</h3>
    <br />
    <p class="text-justify">
      Ei epicurei deterruisset eos, natum dolorum quo ea. Vis cu affert qualisque, atqui animal iudicabit an his. Usu ut nostro indoctum pericula, evertitur argumentum cum te. Sea vocibus indoctum ex. Ne alii libris labitur vis. Ut per nostro facete, populo invidunt tractatos ut eos. Ea quo alii corrumpit, sit ad dicit clita.

      Lobortis suavitate no usu. Choro molestie mea ei, vel facete torquatos ei. Et pro dicat mandamus conclusionemque. Ad mel commune prodesset, quo ne laudem mnesarchum cotidieque, ut regione invidunt aliquando nec.
    </p>
  </div>
  <div class="col-sm-4">
    <h3>Feature 3</h3>
    <br />
    <p class="text-justify">
      Tantas doctus luptatum ea usu, duo utinam prompta denique et. Hinc scaevola ut sed. Ea vel justo suavitate, pro elitr aperiam oporteat in. Augue partem eu ius, dicant qualisque nam ne. Sea dicam quaeque detraxit ea, partem quaestio accusamus ius ea. Cu nemore vulputate usu, munere euripidis ad per, an officiis suavitate qualisque his. Ignota civibus instructior et mei.

      Ei epicurei deterruisset eos, natum dolorum quo ea. Vis cu affert qualisque, atqui animal iudicabit an his. Usu ut nostro indoctum pericula, evertitur argumentum cum te. Sea vocibus indoctum ex. Ne alii libris labitur vis. Ut per nostro facete, populo invidunt tractatos ut eos. Ea quo alii corrumpit, sit ad dicit clita.
    </p>
  </div>
</div>
